@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
*::-webkit-scrollbar {
  display: none;
}

/* main code starts here */
.main {
  display: grid;
  grid-template-columns: minmax(230px, 250px) 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  gap: 5px;
  transition: all 0.5s;
}

/* left-container */
.left-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  padding: 20px 0 0 25px;
  overflow-y: scroll;
}
.logo {
  background-image: url(./img/logo.png);
  background-size: contain;
  width: 140px;
  height: 50px;
  margin-bottom: 25px;
}

/* left-container ---> filters */
.filters {
  display: grid;
  list-style: none;
  gap: 5px;
}
.filters .filters-title {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.filters-checkbox {
  margin-left: 20px;
  font-size: 1em;
  text-transform: capitalize;
}
.filters .filters-others-btn {
  margin-left: 10px;
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  gap: 9px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  margin-top: 5px;
}
.filters-others-btn:active {
  transform: scale(0.9);
}
.down-arrow {
  width: 12px;
  height: 10px;
}

/* left-container --> price-range */
.price-range {
  margin-top: 20px;
}
.pice-range-title {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: capitalize;
}
.price-range-div {
  font-size: 1.1em;
  margin: 10px 0 0 20px;
}
.price-range-div input {
  max-width: 60px;
  padding: 5px;
}
.price-range-btn {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  color: white;
  background-color: #4eaa57;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.price-range-btn:active {
  transform: scale(0.9);
}

/* left-container --> ratings */
.ratings {
  margin-top: 20px;
}
.ratings-title {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: capitalize;
}

.ratings-stars {
  display: flex;
  gap: 5px;
  margin-left: 20px;
  margin-top: 10px;
}
.full-star {
  background-image: url(./img/fullstar.png);
}
.empty-star {
  background-image: url(./img/emptystar.png);
}
.star {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.star:active {
  transform: scale(0.9);
}

/* right-container */
.right-container {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  grid-template-rows: auto auto 1fr;
  padding: 10px;
  column-gap: 10px;
}

/* right-container --> nav section */
.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 0;
}
.right-nav-pages {
  display: flex;
  gap: 15px;
  font-size: 1.3em;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  align-items: baseline;
}
.lol {
  color: #acacac;
  font-weight: 400;
  font-size: 0.9em;
}
.lol.current {
  color: black;
  font-weight: 600;
  font-size: 1.1em;
}
.lol::after {
  content: "";
  width: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
}
.lol.current::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #4eaa57;
  display: block;
  margin-top: 3px;
  border-radius: 5px;
}
.right-nav-cart-btn, .nc-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #4eaa57;
  color: white;
  font-size: 1em;
  font-weight: 600;
}
.right-nav-cart-btn:active, .nc-btn:active {
  transform: scale(0.9);
}

/* right-container --> search-input */
.search-input {
  margin: 25px 0 20px 0;
  background-color: #e0e0e0;
  max-width: 450px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-image: url(./img/search.png);
  background-size: contain 10px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  font-size: 1em;
  padding-left: 40px;
}
.search-input::-webkit-input-placeholder {
  color: #9b9b9b;
}

/* right-container --> plants-container */
.plants-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.all-plants-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  grid-template-rows: 300px;
  overflow: scroll;
  grid-auto-rows: 300px;
  height: calc(100vh - 140px);
  border-radius: 10px;
  gap: 15px;
  padding: 10px;
}
@media (max-width: 1250px) {
  .all-plants-container {
    grid-template-columns: repeat(3, minmax(210px, 1fr));
  }
}
@media (max-width:950px) {
  .all-plants-container {
    grid-template-columns: repeat(2, minmax(210px, 1fr));
  }
}

.plant {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.37);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.plant:hover {
  /* make shadow lighter */
  box-shadow: 0px 0px 3px rgba(53, 53, 53, 0.37);
  transform: scale(.99) ;
}
.plant-like-icon {
  background-color: rgb(175, 175, 175);
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  justify-self: right;
}
.plant-like-icon.liked-true {
  background-color: #ffa775;
}
.plant-like-icon:active {
  transform: scale(0.9);
}
.plant-like-icon img {
  width: 15px;
  height: 15px;
}

.plant-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  background-position: center;
}
.plant-stars {
  display: flex;
  gap: 5px;
}
.plant-add-to-cart{
  background-color: #4eaa57 ;
  border-radius: 10px;
  padding: 5px 20px;
  color: #ffffff;
  text-transform: capitalize;
  max-width: max-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.plant-add-to-cart:active {
  transform: scale(0.9);
}



.menu-btn{
    cursor: pointer;
    padding: 15px 11px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    display: none;
    gap: 5px;
}
.menu-btn:hover{
    background-color: rgb(218, 218, 218);
}
.menu-btn:active{
    transform: scale(0.9);
}
.line{
    width: 30px;
    height: 3px;
    background-color: #4eaa57;
    border-radius: 5px;
    position: relative;
}
.line1,.line2,.line3{
    top: 0;
    left: 0;
    transform: none;
    opacity: 100;
    transition: all 0.3s ease-in-out;
}
.line1.open{
    transform: rotate(45deg);
    top: 7px;
}
.line2.open{
    left: -20px;
    opacity: 0;
}
.line3.open{
    transform: rotate(-45deg);
    top: -9px;
}

@media (max-width: 750px) {
    .right-nav-pages{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 300px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
    }
    .right-nav-pages.open{
        left: 0;
    }
    .menu-btn{
        display: flex;
        flex-direction: column;
    }
}



@media (max-width: 720px){
    .main{
        grid-template-columns: minmax(190px, 190px) 1fr;
    }
}
.filters-btn{
  background-image: url(./img/filter.png);
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
}
.filters-btn:active{
  transform: scale(0.9);
}

.nav-your-cart-btn{
  display: none;
}
.nc-btn{
  display: none;
}

@media (max-width: 660px){
    .main{
        grid-template-columns: 0px 1fr;
    }
    .filters-btn{
      display: block;
    }    
    .main.filter-open{
      grid-template-columns: 200px 1fr;
    }
    .search-input{
      width: 100%;
    }
    .all-plants-container{
      grid-template-columns: repeat(2, minmax(210px, 1fr));
    }
    .right-nav-cart-btn{
      display: none;
    }
    .nav-your-cart-btn{
      display: flex;
    }
    .nc-btn{
      display: flex;
    }
}

@media (max-width: 470px){
    .all-plants-container{
        grid-template-columns: minmax(210px, 1fr);
        grid-template-rows: 350px;
        grid-auto-rows: 350px;
    }
}